<div class="container">
  <form [formGroup]="infoForm">
    <div class="form-group">
      <label for="fName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="fName"
        formControlName="firstName"
        [ngClass]="{
          'is-invalid':
            infoForm.get('firstName').touched &&
            infoForm.get('firstName').invalid
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="infoForm.get('firstName').errors?.required">
          Please enter your first name.
        </span>
        <span *ngIf="infoForm.get('firstName').errors?.minlength">
          The first name must be at least 3 characters.
        </span>
      </span>
    </div>
    <div class="form-group">
      <label for="lName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lName"
        formControlName="lastName"
        [ngClass]="{
          'is-invalid':
            infoForm.get('lastName').touched && infoForm.get('lastName').invalid
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="infoForm.get('lastName').errors?.required">
          Please enter your last name.
        </span>
        <span *ngIf="infoForm.get('lastName').errors?.minlength">
          The last name must be at least 3 characters.
        </span>
      </span>
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        formControlName="age"
        [ngClass]="{
          'is-invalid':
            infoForm.get('age').touched && infoForm.get('age').invalid
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="infoForm.get('age').errors?.required">
          Please enter your age.
        </span>
        <span
          *ngIf="
            infoForm.get('age').errors?.age &&
            !infoForm.get('age').errors?.required
          "
        >
          The age name must be between {{ infoForm.get("age").errors?.min }} and
          {{ infoForm.get("age").errors?.max }}.
        </span>
      </span>
    </div>

    <div class="form-group" formGroupName="emailGroup">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              infoForm.get('emailGroup.email').touched &&
              infoForm.get('emailGroup.email').invalid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="infoForm.get('emailGroup.email').errors?.required">
            Please enter your email.
          </span>
          <span *ngIf="infoForm.get('emailGroup.email').errors?.email">
            Please enter a correct email format.
          </span>
        </span>
      </div>

      <div class="form-group">
        <label for="confEmail">Confirm email address</label>
        <input
          type="email"
          class="form-control"
          id="confEmail"
          formControlName="confirmemail"
          [ngClass]="{
            'is-invalid':
              (infoForm.get('emailGroup').errors &&
                infoForm.get('emailGroup.confirmemail').touched) ||
              (infoForm.get('emailGroup.confirmemail').touched &&
                infoForm.get('emailGroup.confirmemail').invalid)
          }"
        />
        <span class="invalid-feedback">
          <span
            *ngIf="infoForm.get('emailGroup.confirmemail').errors?.required"
          >
            Please enter your email.
          </span>
          <span
            *ngIf="
              infoForm.get('emailGroup').errors?.missMatch &&
              !infoForm.get('emailGroup.confirmemail').errors?.required
            "
          >
            Please make sure of the typed email.
          </span>
        </span>
      </div>
    </div>
    <div class="form-group" formGroupName="passwordGroup">
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              infoForm.get('passwordGroup.password').touched &&
              infoForm.get('passwordGroup.password').invalid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="infoForm.get('passwordGroup.password').errors?.required">
            Please enter your password.
          </span>
          <span
            *ngIf="infoForm.get('passwordGroup.password').errors?.minlength"
          >
            Password must be at least 6 characters.
          </span>
        </span>
      </div>

      <div class="form-group">
        <label for="confPass">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confPass"
          formControlName="confirmpassword"
          [ngClass]="{
            'is-invalid':
              (infoForm.get('passwordGroup').errors &&
                infoForm.get('passwordGroup.confirmpassword').touched) ||
              (infoForm.get('passwordGroup.confirmpassword').touched &&
                infoForm.get('passwordGroup.confirmpassword').invalid)
          }"
        />
        <span class="invalid-feedback">
          <span
            *ngIf="
              infoForm.get('passwordGroup.confirmpassword').errors?.required
            "
          >
            Please enter your confirmed password.
          </span>
          <span
            *ngIf="
              infoForm.get('passwordGroup').errors?.missMatch &&
              !infoForm.get('passwordGroup.confirmpassword').errors?.required
            "
          >
            Please make sure that your passwords are matched.
          </span>
        </span>
      </div>
    </div>

    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="mobileCheck"
        formControlName="phoneCheck"
      />
      <label class="form-check-label" for="mobileCheck"
        >Send me a verification message</label
      >
    </div>

    <div class="form-group" *ngIf="infoForm.get('phoneCheck').value">
      <label for="phone">Phone Number</label>
      <input
        type="tel"
        class="form-control"
        id="phone"
        formControlName="phone"
        [ngClass]="{
          'is-invalid':
            infoForm.get('phone').touched && infoForm.get('phone').invalid
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="infoForm.get('phone').errors?.required">
          Please enter your phone number.
        </span>
      </span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="infoForm.invalid">
      Submit
    </button>
  </form>
</div>
